.box {
    background-color: floralwhite;
    border: black;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    padding: 20px; /* add some padding */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    text-align: center;
    color: pink;
    text-shadow: 2px 2px 5px lightpink;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 45px;
    margin-top: 50px; /* add some margin to separate it from the box */
    letter-spacing: 2px; /* add some letter spacing */
    text-transform: uppercase; /* make it all uppercase */
}
body {
    background-image: url("baggrund.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}



