.wishlist_box {
    /* Set width and height */
    width: 500px;
    height: 400px;
    top: 60px;
    /* Add margin to create some space between cards */
    margin: 20px;
    /* Add rounded corners to the card */
    border-radius: 5px;
    /* Add a box shadow for a 3D effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add a transition effect when hovering over the card */
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
    position: relative;
}
.wishlist_box {
    background-image: linear-gradient(180deg, #bb9efc, #e8c6e4, #decff6 100%);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.btn-editItems,
.btn-deleteItem {
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-deleteItem {
    background-color: black;
}

.btn-editItems:hover,
.btn-deleteItem:hover {
    opacity: 0.8;
}

.wishlist_box table caption {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #cc7eee;
}

.btn-editItems,
.btn-deleteItem {
    font-size: 12px;
    padding: 8px 14px;
    margin: 4px;
}

.wishlist_box table caption {
    margin-bottom: 10px;
    font-size: 18px;
}
