<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="background.css">
  <script src="https://kit.fontawesome.com/d17da6709b.js"> </script>
</head>
<body>
<div id="menuHeader">
  Make A Wish
</div>

<a class="active" href="#home" style="margin-top: 40px; color: #a174d7;" id="home-botton">Home</a>
<a href="#Discovery" style=" color: #a174d7;" id="discovery-botton">Discovery</a>
<div id="search-input">
  <input type="text" placeholder="Search on your friend's wishlist code..." name="search">
  <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
</div>
<nav>
  <ul>
  </ul>
</nav>
<div id="positionForlogout">
  <a href="registration.html" class="logout-button">
    <i class="fa-solid fa-right-from-bracket fa-xl" style="color: #a86cd0;"></i>
  </a>
</div>
<div class="foto">
</div>
</body>
</html>

</body>
</html>