<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="CreateList.css">
</head>
<body>

<h1>Create a Wishlist </h1>
<form action="/makeList" method="post">
    <div class="box">
    <label>Enter wishlist:</label>
    <input type="text" name="wishlist_name">

    <label>Enter wishlist item:</label>
    <input type="text" name="item_name">

    <label>Write a description:</label>
    <input type="text" name="item_description">

    <input type="submit" value="Finalize wish">
    </div>
</form>
</body>
</html>