<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="base.css">
  <link rel="stylesheet" type="text/css" href="discovery.css">
  <script src="https://kit.fontawesome.com/d17da6709b.js"> </script>
</head>

<body>
<div id="menuHeader">
  Make A Wish
</div>

<a href="homePage" style="margin-top: 40px; color: #a174d7;" id="home-botton">Home</a>
<a href="discoveryPage" style=" color: #a174d7;" id="discovery-botton">Discovery</a>
<div id="search-input">
  <form action="/viewWishlistFromSearchbar" method="GET">
    <input type="text" placeholder="Search on your friends wishlists.." name="wishlist_id" required>
    <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
  </form>
</div>
<nav>
  <ul>
  </ul>
</nav>
<div id="positionForlogout">
  <a href="/" class="logout-button">
    <i class="fa-solid fa-right-from-bracket fa-xl" style="color: #a86cd0;"></i>
  </a>
</div>
<div class="foto">
  <div th:if="${wishlists != null}">
    <h1>Wishlist Info</h1>
    <div th:each="wishlist : ${wishlists}">
      <p>Wishlist Name: <span th:text="${wishlist.wishlist_name}"></span></p>
      <p>Item Name: <span th:text="${wishlist.item_name}"></span></p>
      <p>Item Description: <span th:text="${wishlist.item_description}"></span></p>
    </div>
    <div th:if="${wishlists == null}">
      <p>No wishlist found with the given ID.</p>
    </div>
  </div>


</div>
</body>

<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1 class="page-title">DISCOVERY </h1>
<br> <br><br><br>
<div class="first-border">
  <input type="checkbox" id="birthday">
  <h2><label for="birthday">Birthday Wishlist</label></h2>
  <p class="wishlist-text">1. Noise-cancelling headphones<br><br><br
  ><br>
    2. A cozy weighted blanket <br><br><br><br>
    3. A set of high-quality cookware <br><br><br><br>
    4. A new fitness tracker<br><br><br><br>
    5. Luxury skincare products <br><br><br><br>
  </p>
</div><br> <br><br><br> <br> <br><br><br><br>


<div>
  <div class="first-border">
  <input type="checkbox" id="wedding">
  <h2><label for="wedding">Wedding Wishlist</label></h2>
  <p class="wishlist-text">1. A romantic honeymoon in Bali <br><br><br><br>
    2. A KitchenAid stand mixer <br><br><br><br>
    3. A set of fine china <br><br><br><br>
    4. A Le Creuset Dutch oven <br><br><br><br>
    5. A Vitamix blender <br><br><br><br>
  </p>
</div><br> <br><br><br> <br> <br><br><br><br>
</div>


<div>
  <div class="first-border">
    <input type="checkbox" id="wishlist-valentine">
    <h2><label for="wishlist-valentine">Valentine's Wishlist</label></h2>
    <p class="wishlist-text">1. A romantic weekend getaway<br><br><br><br>
      2. A bouquet of roses<br><br><br><br>
      3. A box of luxury chocolates <br><br><br><br>
      4. A piece of jewelry<br><br><br><br>
      5. A surprise gift<br><br><br><br>
    </p>
  </div>
</div><br> <br><br><br> <br> <br><br><br><br>


<div>
  <div class="first-border">
  <input type="checkbox" id="christmas">
  <h2><label for="christmas">Christmas Wishlist</label></h2>
  <p class="wishlist-text">1. A new winter coat 0<br><br><br><br>
    2. A smartwatch <br><br><br><br>
    3. A collection of classic books <br><br><br><br>
    4. A pair of winter boots <br><br><br><br>
    5. A cozy wool sweater <br><br><br><br>
</div>
</div>


<div>
  <div class="secound-border">
    <input type="checkbox" id="eid-wishlist">
    <h2><label for="eid-wishlist">Eid Wishlist</label></h2>
    <p class="wishlist-text">
      1. A new eid outfit <br><br><br><br>
      2. A set of scented candles <br><br><br><br>
      3. A box of luxury chocolates 5<br><br><br><br>
      4. A designer handbag <br><br><br><br>
      5. A pair of gold earrings <br><br><br><br>
    </p>
  </div>
</div><br> <br><br><br><br> <br><br><br><br>



<div>
  <div class="secound-border">
  <input type="checkbox" id="wishlist-mothers-day">
  <h2><label for="wishlist-mothers-day">Mother's Day Wishlist</label></h2>
  <p class="wishlist-text">1. A spa day <br><br><br><br>
    2. A personalized photo album<br><br><br><br>
    3. A set of aromatherapy candles <br><br><br><br>
    4. A piece of fine china <br><br><br><br>
    5. A bouquet of flowers <br><br><br><br>
  </p>
</div>
</div><br><br><br><br><br><br><br><br><br>


<div>
  <div class="secound-border">
  <input type="checkbox" id="wishlist-fathers-day">
  <h2><label for="wishlist-fathers-day">Father's Day Wishlist</label></h2>
  <p class="wishlist-text">1. A round of golf <br><br><br><br>
    2. A set of grilling tools<br><br><br><br>
    3. A personalized whiskey glass set 0<br><br><br><br>
    4. A new watch <br><br><br><br>
    5. A gourmet food basket <br><br><br><br>
  </p>
</div>
</div><br><br><br><br><br> <br><br><br><br>


<div>
  <div class="secound-border">
  <input type="checkbox" id="wishlist-graduation">
  <h2><label for="wishlist-graduation">Graduation Wishlist</label></h2>
  <p class="wishlist-text">1. A new laptop <br><br><br><br>
    2. A set of business attire <br><br><br><br>
    3. A professional headshot <br><br><br><br>
    4. New headphones  <br><br><br><br>
    5. A big celebratory dinner<br><br><br><br>
  </p></div></div><br> <br><br><br>


<div class="description">
  <p>Discover the 40 most <br><br>
    wanted items everyone <br><br>
    is talking about! </p>
</div>


</body>
</html>

