<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Friends discovery page </h1>

<thead>
<tr>
    <th>Wishlist ID</th>
    <th>Wishlist Name</th>
    <th>Item Name</th>
    <th>Item Description</th>

</tr>
</thead>

<tr th:each="wishlist: ${lists}">
    <td th:text="${wishlist.wishlist_id}"/>
    <td th:text="${wishlist.wishlist_name}"/>
    <td th:text="${wishlist.item_name}"/>
    <td th:text="${wishlist.item_description}"/>
</tr>


</body>
</html>