<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="topBar.css">
    <link rel="stylesheet" type="text/css" href="homepageCSS.css">
</head>
<body>
<h1 style="background-color: mediumpurple">MAKE A WISH</h1>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#Discovery">Discovery</a>
    <input type="text" placeholder="Search..">
</div>

<a href="/createList">
    <button class="btn wishlist-button" id="btn-create">Create a wishlist</button>
</a>

<div class="wishlist-container" style="display: flex; flex-wrap: wrap;">
    <!-- Loop through the wishlists and display their information -->
    <div th:each="wishlist: ${wishlists}" class="sky-card">
        <div class="wishlistname">
            <p th:text="${wishlist.wishlist_name}"></p>
            <p th:text="${wishlist.wishlist_description}"></p>
            <p th:text="${wishlist.count}"></p>
        </div>

        <a href="/addItem">
            <button class="add-item-button">Add Item</button>
        </a>
        </div>

        <a th:href="@{'/viewWishList/'+${wishlist.wishlist_id}}">
            <button class="view wishlist"> view</button>
        </a>

        <a th:href="@{'/deleteWishlist/'+${wishlist.wishlist_id}}">
            <button class="btn-deleteWishlist" id="btn-deleteWishlist">X</button>
        </a>
        </div>
    </div>
</body>
</html>





