<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="topBar.css">
    <link rel="stylesheet" type="text/css" href="homepageCSS.css">
</head>
<body>
<h1 MAKE A WISH style="background-color: mediumpurple"></h1>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#Discovery">Discovery</a>
    <input type="text" placeholder="Search..">
    <div/>
    <a href ="/createList">
        <button class=" btn wishlist-button" id="btn-create">Create a wishlist</button>
    </a>

    <div class="wishlist-container" style="display: flex; flex-wrap: wrap;">
        <!-- Loop through the wishlists and display their information -->

        <th:block th:each="wishlist: ${wishlists}">
            <div class="sky-card">
                <div class="wishlistname">
                    <p th:text="${wishlist.wishlist_name}"></p>
                    <a href="/addItem">
                        <button class="add-item-button">+</button>
                    </a>
                </div>
                <div class="wishlist-item">
                    <div class="item-details">
                        <p class="item-name" th:text="${wishlist.item_name}"></p>
                        <p class="item-description" th:text="${wishlist.item_description}"></p>
                        <p class="wishlist-id" th:text="'Wishlist ID: ' + ${wishlist.wishlist_id}"></p>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>