<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/.css">
    <script src="https://kit.fontawesome.com/d17da6709b.js"> </script>
</head>
<body>
</div>
    <h1>Wishlist Info</h1>
    <tr th:each="wishlist: ${wishlists}">
        <p>Wishlist Name: <td th:text="${wishlist.wishlist_name}"></td></p>
        <p>Item Name: <td th:text="${wishlist.item_name}"></td></p>
        <p>Item Description: <td th:text="${wishlist.item_description}"></td></p>
    </tr>

</div>
</body>
</html>